.ErrorView {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(245, 227, 231);
    text-align: center;
    font-size: 5em;
}

.ErrorView .ErrorView-Icon {
    margin-top: 30vh; 
    width: 20vw;
}

.ErrorView p {
    width: 100vw;
}