.ImageView {
    display: grid;
}

.ImageBlock {
    width: 100%; 
    display: block; 
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .ImageView {
        grid-template-columns: repeat(1, 1fr)
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 900px) {
    .ImageView {
        grid-template-columns: repeat(3, 1fr)
    }
    .ImageBlock {
        height: 33.33vh; 
    }
}